.homecont {
  display: flex;
  flex-direction: row;
}
.homenav {
  display: flex;
  flex-direction: column;
}

.innernav {
  display: flex;
  flex-direction: row;
}
.mainnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sorticon {
  height: 40px;
  width: 40px;
  margin-right: 6px;
}
.navheading {
  font-family: 'Roboto';
  font-size: 20px;
}
.navlogo {
  display: flex;
  flex-direction: column;
}
.logoimage {
  display: flex;
  flex-direction: row;
}
.navlogoimage {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.navpara {
  font-family: 'Roboto';
  font-size: 20px;
  flex-wrap: wrap;
}
.homevideo {
  display: flex;
  flex-direction: column;
}

.deletecont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homebgcontainer {
  display: flex;
  flex-direction: column;
}
.homevideoimage {
  height: 60px;
  width: 120px;
}
.videosListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
